/* TSOS.css */
/*#taHostLog{
  resize: none;
  width: 100%;
  height: 120px;
  display: block;
  margin: auto;
}*/

#taProgramInput{
  resize: none;
  width: 80%;
  height: 150px;
  display: block;
  margin: auto;
}


#statusMessage{
  font-weight: bold;
}

/*This is the canvas that draws the console*/
#displayWrapper{
  overflow: auto;
  margin: auto;
}

#display{
  border-style: solid;
  border-width: 1px;
  display: block;
  margin: auto;
}

#taHostLogWrapper {
  overflow: auto;
  height: 120px;
}

body {
  padding-top:80px;
}

.panel-heading {
  font-weight: bold;
}

#memoryDiv {
  overflow: auto;
  height: 100px;
}

#pcbDiv {
  overflow: hidden;
  height: 120px;
}

#cpuDiv {
  overflow: none;
  height: 75px;
}

#hardDriveDisplayWrapper {
  overflow: auto;
  height: 75px;
}